/* body{
    background-image: url(op.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
}

#clock-container1{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 2px solid; /


}
    
#clock1{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(3px);
    /* width: 100%; /
    background-color: rgba(137, 137, 137, 0.139);
    border-radius: 18px;
} */




body {
    background-image: url(op.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
  }
  
  #clock-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #clocks {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between the clocks */
  }
  
  #clock1, #clock2 {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(3px);
    background-color: rgba(137, 137, 137, 0.139);
    border-radius: 18px;
    padding: 10px 30px;
  }
  